* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px;
    border-right: 1px;
    background-color: #efe9d5;
}

header {
    margin-top: .5rem;


}
h1 {
    color: #236141;
}

h2 {
    color: #a65e3f;
    margin: 1rem;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

.omelette {
    padding: 25px .5px 25px .5px;
    margin: .8rem;
    background-color: #bdede2;
    
}

.omelette a {
    text-decoration: none;
    color: #ae0347;
}

.avocado {
    padding: 25px .5px 25px .5px;
    margin: .8rem;
    background-color: #f4c7b4;
}

.avocado a {
    text-decoration: none;
    color: #ae0347;
}

.oats {
    padding: 25px .5px 25px .5px;
    margin: .8rem;
    background-color: #e9b0c4;
}

.oats a {
    text-decoration: none;
    color: #ae0347;
}

footer {
    padding: .5rem;
    background-color: rgba(00, 220, 128, 0.5);
    margin-block-start: 15rem;
}